<span class="wt-weather-item__description">
    {{item.weather[0].description}}
</span>
<div class="wt-weather-item__general">
    <span class="wt-weather-item__time">
        {{item.dt_txt | date:'HH:mm'}}
    </span>
    <span class="wt-weather-item__temp">
        <span class="wt-weather-item__temp-value">
            {{item.main.temp | number:'.0-0'}}
        </span>
        °С
    </span>
    <span class="wt-weather-item__wind">
        <img class="wt-weather-item__wind-arrow" 
                src="assets/img/wind-arrow.svg" 
                alt=""
                [style.transform]="'rotate(' + item.wind.deg + 'deg)'">
        <span class="wt-weather-item__wind-value">
            {{item.wind.speed | number:'.0-0'}}
        </span>
        м/с
    </span>
    <span class="wt-weather-item__humidity">
        <img class="wt-weather-item__humidity-icon" src="assets/img/humidity.svg" alt="">
        <span class="wt-weather-item__humidity-value">
            {{item.main.humidity}}
        </span>
        %
    </span>
</div>
<span class="wt-weather-item__precipitation">
    вероятность осадков: {{item.pop | percent}}
</span>