@import '../../styles.variables.scss';

:host {
    flex: auto;
    max-width: 480px;
    background-color: white;
    border: $border-default;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .12);
    padding-bottom: 12px;
}

@media (max-width: 560px) {
    :host {
        border-radius: 0;
        border: none;
        box-shadow: none;
        max-width: 100%;
    }
}

.wt-forecast__controls {
    padding: 24px 0;
    margin: 0 24px;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 9;
}

.wt-forecast__search {
    display: flex;
}

.wt-forecast__input {
    margin-right: 12px;
    flex: auto;
}

.wt-forecast__sort {
    margin-top: 12px;
    margin-bottom: 0;
    text-align: right;
}

.wt-forecast__info {
    margin: 0 24px 16px;
    opacity: .54;
}