:host {
    flex: auto;
    max-width: 480px;
    border: thin solid lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .12);
    padding-bottom: 12px;
}

.wt-forecast__controls {
    display: flex;
    padding: 24px 0;
    margin: 0 24px;
    background-color: white;
    top: 0;
    position: sticky;
    border-bottom: thin solid lightgray;
    z-index: 9;
}

.wt-forecast__input {
    margin-right: 12px;
    flex: auto;
}

.wt-forecast__error {
    margin: 16px 24px;
    opacity: .54;
}