@import '../../../styles.variables.scss';

:host {
    display: block;
}

.ng-weather-list__separator {
    z-index: 9;
    font-size: 24px;
    font-weight: 500;
    margin: 0 24px;
    padding: 24px 0 12px;
    background-color: white;
    position: sticky;
    top: 97px;
    border-bottom: $border-default;
}